@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Noto+Sans+Arabic:wght@100..900&family=Vazirmatn:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Vazirmatn;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.hero {
    position: relative;
    width: 100vw;
    overflow: hidden;
    height: 100vh;
    z-index: 1;
}

.items {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    width: 36vw;
    align-items: center;
    font-size: 0.9rem;
    margin-top: 1%;
    display: flex;
}

.item-link {
    color: rgba(255, 255, 255, 0.8);
}

.item-link:hover {
    color: white;}

nav {
    background-color: rgba(0, 0, 0, 0.9);
    height: 8vh;
    position: fixed;
    z-index: 100;
    width: 100vw;
}

.bg-img {
    width: 100vw;
    display: block;
    position: absolute;
    height: auto;
    z-index: 1;
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
    color: white;
}

.titr1 {
    font-size: 1.8rem;
}

.titr2 {
    font-size: 1.1rem;
}

.love-pic {
    width: 400px;
    height: 250px;
}

.love {
    display: flex;
    width: 100vw;
    height: 65vh;
    justify-content: space-evenly;
    align-items: center;
}

.parallax {
    background-image: url('../images/backtwo.png');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64vh;
    width: 100vw;
}

.parallax-txt {
    color: white;
    text-align: center;
}

.section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    height: 74vh;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: 29.5vw;
    height: 40vh;
}

.grid-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textss {
    width: 40vw;
    text-align: center;
}

.hot {
    background-image: url('../images/hot-pic.png');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52vh;
    width: 100vw;
}

.hot-text {
    color: white;
    text-align: center;
}

#hot-text {
    font-size: 1.9rem;
}

#hot-p {
    font-size: 1rem;
    padding-top: 10px;
}

.section2 {
    width: 86vw;
    height: 54vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

.txtsss {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.grid-container2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: 250px;
    height: 200px;
}

.grid-container2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-us {
    background-color: black;
    width: 100vw;
    height: 40vh;
}

.items-au {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 3%;
}

.aboutus-txt {
    color: white;
}

#aboutus-h2 {
    font-size: 1.2rem;
    font-weight: 500;
}

#aboutus-p {
    font-size: 0.8rem;
    margin-top: 12px;
}

.join-follow {
    color: beige;
    font-size: 0.9rem;
    margin-right: 10%;
}

.joining {
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
    align-items: center;
}

#email-inp {
    margin-top: 4%;
    width: 50%;
    margin-right: 10%;
}

.icons {
    margin-top: 4%;
}

.last-div {
    background-color: rgba(43, 43, 43, 0.979);
    width: 100vw;
    height: 18vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.last-h3,
.last-h4 {
    color: white;
    opacity: 0.9;
    font-weight: 400;
